option_settings:
  aws:elasticbeanstalk:container:docker:
    GuestPort: 8000
    
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /

  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

  aws:elasticbeanstalk:xray:
    XRayEnabled: false

  aws:ec2:instances:
    InstanceTypes: t2.micro

  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2

  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application

  aws:elasticbeanstalk:environment:process:default:
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
    HealthCheckInterval: 30
    HealthCheckPath: /
    HealthCheckTimeout: 5
    Port: 80
    Protocol: HTTP
    StickinessEnabled: true
    StickinessType: lb_cookie
    StickinessLBCookieDuration: 86400
